#STS
.project
.settings/
bootstrap/.factorypath

#bootstrap
bootstrap/.classpath
bootstrap/target/

#rest-adapter
rest-adapter/.classpath
rest-adapter/.factorypath
rest-adapter/target/

#jpa-adapter
jpa-adapter/.classpath
jpa-adapter/.factorypath
jpa-adapter/target/

#domain
domain/.classpath
domain/.factorypath
domain/target/

#domain-api
domain-api/.classpath
domain-api/.factorypath
domain-api/target/

#acceptance-test
acceptance-test/.classpath
acceptance-test/.factorypath
acceptance-test/target/